<html> 
<head> 

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

</head> 
<body> 
 		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}


{% for i in items %}
<h1> {{i.name }} </h1> 


<a href = '{{ 	url_for( 'editItem', category_id = category_id , item_id = i.id ) 	}}'>Edit</a>
<a href = '{{ 	url_for( 'deleteItem', category_id = category_id, item_id = i.id) 	}}'>Delete</a>
{% endfor %}
<form action = '{{ url_for(	  'addItem' , category_id = category_id	) }}'method = "POST"> 
	<input type = 'text' name = 'name'> </input> 
	<input type = 'text' name = 'image_url'> </input> 

	<input type = 'submit'></input>
</form>


	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Latest compiled and minified JavaScript -->
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	<script src="/static/js/weatherpics.js"></script>
</body> 
</html> 