{% extends "main.html" %}
{% block content %}
    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li role="presentation" class="dropdown">
                         <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
          {{ login_session['username']}} <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
          <li class = "drop-profile">
        <img class = "profile-picture"src = "{{ login_session['picture'] }}" style = "width: 80px; height: 80px;border-radius: 150px;-webkit-border-radius: 150px;-moz-border-radius: 150px;"> <span class = "logout"> <a href="{{ url_for( 'gdisconnect') }}">Logout</a></span>
        </ul>
      </li>
                  
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    

    <!-- Page Content -->
    <div class="container">

            <!-- Marketing Icons Section -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    The Best Sports' Catalog
                </h1>
                                <a class = "addItem"href='{{ url_for('addItem', category_id = category_id)}}'>Add item</a>
            </div>


            </div>

{% for i in items %}
 <div class="col-md-4">
   <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class = "itemTitle"><i class="fa fa-fw fa-check"></i> {{ i.name }} </h4>
            {% if login_session['user_id'] == i.user_id %}
            <a href = '{{ 	url_for( 'editItem', category_id = category_id , item_id = i.id ) 	}}'>Edit</a>
            <a href = '{{ 	url_for( 'deleteItem', category_id = category_id, item_id = i.id) 	}}'>Delete</a>
            {% endif %}
        </div>
        <div class="panel-body">
            <image src = " {{ i.image_url  }}">
         	<!-- Image-->
        </div>
    </div>
</div>
{% endfor %}

     <!-- /.row -->

    
     

        <!-- Footer -->
        <footer class = "navbar-fixed-bottom">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; Ted Samore 2015</p>
                </div>
            </div>
        </footer>

    </div>
    <!-- /.container -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <!-- Script to Activate the Carousel -->
   <!-- <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script> -->

{% endblock %}
